[Unit]
Description=Ethereum Live Token Tracker
After=network-online.target reth.service redis-server.service eth-live-block-processor.service
Wants=network-online.target reth.service redis-server.service eth-live-block-processor.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=nima
Group=nima
WorkingDirectory=/home/nima/code/crypto/blockchains/eth

Environment="HOME=/home/nima"
Environment="PATH=/home/nima/miniconda3/bin:/home/nima/.local/bin:/home/nima/.cargo/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
EnvironmentFile=-/home/nima/code/crypto/blockchains/eth/config.env
Environment="ETH_CONFIG_PATH=/home/nima/code/crypto/blockchains/eth/config.env"
Environment="LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libstdc++.so.6"
Environment="PYTHONPATH=/home/nima/code/crypto/blockchains/eth/pyreth:/home/nima/code/crypto/blockchains/eth/pyeth/eth_portfolio_manager:/home/nima/code/crypto/blockchains/eth/pyeth/eth_token:/home/nima/code/crypto/blockchains/eth/pyeth/eth_token/eth_token:/home/nima/code/crypto/blockchains/eth/pyeth/eth_data:/home/nima/code/crypto/blockchains/eth/pyeth/eth_portfolio_manager/scripts/live"
Environment="LIVE_TOKEN_TRACKER_SAVE_STRATEGY_RESULTS=false"
Environment="LIVE_TOKEN_TRACKER_ADD_PNL_TO_DB=false"
Environment="LIVE_TOKEN_TRACKER_ADD_STATUS_TO_DB=false"
Environment="LIVE_TOKEN_TRACKER_MIN_ETH_THRESHOLD=0.01"
Environment="LIVE_TOKEN_TRACKER_CONSOLE_LOG=true"

ExecStart=/home/nima/miniconda3/bin/python /home/nima/code/crypto/blockchains/eth/pyeth/eth_portfolio_manager/scripts/live/run_live_token_tracking.py

StandardOutput=journal
StandardError=journal

MemoryMax=8G
Nice=0
LimitNOFILE=1000000

[Install]
WantedBy=multi-user.target
