[Unit]
Description=Reth Ethereum Archive Node
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=nima
Group=nima
WorkingDirectory=/home/nima
Environment="HOME=/home/nima"
EnvironmentFile=-/home/nima/code/crypto/blockchains/eth/config.env
ExecStart=/home/nima/storage/samsung8tb/ethereum/bin/reth node \
    --chain mainnet \
    --datadir ${RETH_DATADIR} \
    --authrpc.addr 127.0.0.1 \
    --authrpc.port 8551 \
    --authrpc.jwtsecret ${JWT_PATH} \
    --addr 0.0.0.0 \
    --port 30303 \
    --discovery.addr 0.0.0.0 \
    --discovery.port 30303 \
    --nat any \
    --tx-propagation-mode all \
    --max-outbound-peers 100 \
    --max-inbound-peers 100 \
    --http \
    --http.addr 127.0.0.1 \
    --http.port 8545 \
    --http.api eth,net,web3,debug,trace,txpool,rpc,reth \
    --ws \
    --ws.addr 127.0.0.1 \
    --ws.port 8546 \
    --ws.api eth,net,web3,debug,trace,txpool,rpc,reth \
    --ipcpath ${RETH_IPC_PATH} \
    --metrics 127.0.0.1:9001
Restart=always
RestartSec=5
LimitNOFILE=1000000

[Install]
WantedBy=multi-user.target
