[Unit]
Description=Ethereum token server and live token tracker
Wants=network-online.target redis-server.service eth-rust-live-block-processor.service
After=network-online.target redis-server.service eth-rust-live-block-processor.service
StartLimitIntervalSec=0

[Service]
Type=simple
WorkingDirectory=/home/nima/code/crypto/blockchains/eth
EnvironmentFile=-/home/nima/code/crypto/blockchains/eth/config.env
Environment=ETH_CONFIG_PATH=/home/nima/code/crypto/blockchains/eth/config.env
Environment=PATH=/home/nima/.cargo/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=RUST_LOG=info
ExecStart=/home/nima/code/crypto/blockchains/eth/target/release/eth_token_server
Restart=always
RestartSec=5
LimitNOFILE=1000000

[Install]
WantedBy=default.target
