[Unit]
Description=Ethereum alpha live backtest pipeline
Wants=eth-chain-server.service eth-mempool-signal-detector.service eth-alpha-live-backtest.service
After=eth-chain-server.service eth-mempool-signal-detector.service eth-alpha-live-backtest.service

[Install]
WantedBy=default.target
