[Unit]
Description=Ethereum alpha live real trading pipeline
Wants=eth-mempool-signal-detector.service eth-alpha-live-real-trading.service
After=eth-mempool-signal-detector.service eth-alpha-live-real-trading.service

[Install]
WantedBy=default.target
